TP_WS/TP_WS_WF/Connected Services/ServiceHotel/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetDispo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="idAgence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mdpAgence" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nbPers" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dA" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dD" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDispoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDispoResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetImg">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="choix" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetImgResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetImgResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Reserver">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="nom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="prenom" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="numCB" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="choixChambre" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="idAgence" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mdpAgence" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="nbPlace" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="dArr" type="s:dateTime" />
            <s:element minOccurs="1" maxOccurs="1" name="dDep" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReserverResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReserverResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetDispoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDispo" />
  </wsdl:message>
  <wsdl:message name="GetDispoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDispoResponse" />
  </wsdl:message>
  <wsdl:message name="GetImgSoapIn">
    <wsdl:part name="parameters" element="tns:GetImg" />
  </wsdl:message>
  <wsdl:message name="GetImgSoapOut">
    <wsdl:part name="parameters" element="tns:GetImgResponse" />
  </wsdl:message>
  <wsdl:message name="ReserverSoapIn">
    <wsdl:part name="parameters" element="tns:Reserver" />
  </wsdl:message>
  <wsdl:message name="ReserverSoapOut">
    <wsdl:part name="parameters" element="tns:ReserverResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="GetDispo">
      <wsdl:input message="tns:GetDispoSoapIn" />
      <wsdl:output message="tns:GetDispoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetImg">
      <wsdl:input message="tns:GetImgSoapIn" />
      <wsdl:output message="tns:GetImgSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Reserver">
      <wsdl:input message="tns:ReserverSoapIn" />
      <wsdl:output message="tns:ReserverSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDispo">
      <soap:operation soapAction="http://tempuri.org/GetDispo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImg">
      <soap:operation soapAction="http://tempuri.org/GetImg" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserver">
      <soap:operation soapAction="http://tempuri.org/Reserver" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDispo">
      <soap12:operation soapAction="http://tempuri.org/GetDispo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetImg">
      <soap12:operation soapAction="http://tempuri.org/GetImg" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reserver">
      <soap12:operation soapAction="http://tempuri.org/Reserver" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44387/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44387/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>